# Go
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Frontend
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Helm
chart/charts/

# Environment
.env
.env.local

# Build artifacts
api
*.tgz

# Kubeconfig
*.kubeconfig
